+contentFor "title"
    h1 Leads
+contentFor "breadcrubms"
    li
        a(href="{{pathFor 'leads'}}") Leads
    li.active
        a(href="{{pathFor 'leads.cold'}}") Cold
+leadsTabs
    .container-fluid
        .row
            button.create-lead.btn.btn-primary.pull-left(data-toggle='modal', data-target='#myModal') Create new
            p.text-right
                button.btn.btn-primary.btn-xs.btn-edit-lead
                    i.fa.fa-edit
                | = edit lead,
                button.btn.btn-danger.btn-xs.btn-delete-lead
                    i.fa.fa-remove
                | = delete lead
        .row
            +tabular table=TabularTables.leads selector=selector class="table table-striped table-hover table-bordered table-condensed table-responsive"
