.panel-body
  form#reset-form.form-horizontal(fole="form")
    .form-group
      .col-md-12
        input#email(type="email" name="email" class="form-control" placeholder="Enter your email")
        i.fa.fa-mail
    .form-group
      .col-md-12
        button.btn.btn-success.btn-block(type="submit") Forgot password
    p If you have forgot your account details you can use the password
      | reset options under the login buttons.
    p Don’t worry it happens to us all.  
    a.btn.btn-warning.btn-block.btn-unreset-password() Back to login
