p Login to access your account.
form#log-in-form.form-horizontal(fole="form")
  .form-group
    .col-md-12
      input#email(type="email" name="email" class="form-control" placeholder="Enter your email")
      i.fa.fa-user
  .form-group
    .col-md-12
      button.btn.btn-primary.btn-block(type="submit") Send reset password email
