
#login-wrapper
   .container.mt
      .row
         .col-md-6
            +logIn
         .col-md-6
            +signUp
#cta
   .container
      .row
         h2 If you would like more information on our BigDataCandy products please visit www.BigDataCandy.com. We have a support team standing by who are happy to answer your questions.
