.panel.panel-default
  if reset_password
    .panel-heading
      h3.panel-title Reset password
      if reseting_status
        .panel-body
          h4= reseting_status
      else
        +_forgotForm
  else
    +_loginForm
