.landing
   +bertAlert
   #main-content
      #page-loader
      #background
         #background-image
      // background
      .content
         .col-md-12
            +yield

      #socials
         a(href='http://www.facebook.com/creditnerds')
            i.fa.fa-facebook.fa-fw
         a(href='http://www.twitter.com/creditnerds')
            i.fa.fa-twitter.fa-fw
      // socials
      #footer
         span#copyright-sign © 2015 CRM.com

      // footer
   // main-content
