button.btn.btn-primary.btn-xs.btn-edit-furnisher.btn-trans(data-toggle='modal', data-target='#myModal')
   i.ion-edit.ionicons
button.btn.btn-danger.btn-xs.btn-delete-furnisher.btn-trans
   i.ion-close-round.ionicons
button.btn.btn-success.btn-xs.btn-view-furnisher.btn-trans(data-toggle='modal', data-target='#myModal')
   i.ion-ios-eye.ionicons
