button.btn.btn-primary.btn-xs.btn-edit-furnisher(data-toggle='modal', data-target='#myModal')
   i.fa.fa-edit
button.btn.btn-danger.btn-xs.btn-delete-furnisher
   i.fa.fa-remove
button.btn.btn-success.btn-xs.btn-view-furnisher(data-toggle='modal', data-target='#myModal')
   i.fa.fa-eye
