.row
   .col-md-12
      .tab-wrapper.tab-primary
         ul.nav.nav-tabs.responsive
            +topTab(path="admin.users")
               | Stock Templates
            +topTab(path="admin.itemDD")
               | My Templates
            +topTab(path="admin.snipets")
               | Smart Templates
         .tab-content.main-tab-content
            +UI.contentBlock