+autoForm(collection="colEmailTemplates" id="emailTemplateEdit" doc=this type=getType)
    +afQuickField name='name'
    +afQuickField name='category'
    +afQuickField name='description'
    +afQuickField name='content'

    button.btn.btn-block.btn-primary(type="submit")
        | Save