.row
   .col-md-12
      .tab-wrapper.tab-primary
         ul.nav.nav-tabs.responsive
            +topTab(path="templatesstock")
               | Stock Templates
            +topTab(path="templatesmine")
               | My Templates
         .tab-content.main-tab-content
            +UI.contentBlock