+autoForm(collection="colEmailTemplates" id="emailEdit" doc=this type=getType})
    +afQuickField name='name'
    +afQuickField name='description'
    +afQuickField name='content'

    button.btn.btn-block.btn-primary(type="submit")
        | Save