+autoForm(collection="colEmailTemplates" id="emailTemplateEdit" doc=this type=getType)
    +afQuickField name='name'
    +afQuickField name='category'
    +afQuickField name='Templatetype'
    +afQuickField name='description'
    +afQuickField name='subject'
    div.row
        div.col-md-12
            +afQuickField name='content'

    button.btn.btn-block.btn-primary(type="submit")
        | Save