button.btn.btn-success.btn-xs.btn-view-item(data-toggle='modal', data-target='#myModal')
   i.fa.fa-eye
button.btn.btn-primary.btn-xs.btn-edit-item
   i.fa.fa-edit
button.btn.btn-danger.btn-xs.btn-delete-item
   i.fa.fa-remove
button.btn.btn-warning.btn-xs.btn-send-item
   i.fa.fa-send


