.nav
  h5.sidebar-header Navigation
  ul.nav.nav-pills.nav-stacked

      +navigationItem(path="index" icon="tachometer")
        | Dashboard
      +navigationItem(path="admin" prefix="list" icon="list")
        | Admin Panel