.nav
  h5.sidebar-header Navigation
  ul.nav.nav-pills.nav-stacked

      +navigationItem(path="index" icon="tachometer")
        | Dashboard
      +navigationItem(path="leads" icon="align-justify")
          | Leads
      +navigationItem(path="clients" icon="users")
        | Clients
      +navigationItem(path="emailTemplates" icon="envelope-o")
        | Email Templates
      +navigationItem(path="admin" icon="gears")
        | Admin Panel