.nav
  h5.sidebar-header Navigation
  ul.nav.nav-pills.nav-stacked

      +navigationItem(path="index" icon="tachometer")
        | Dashboard
      +navigationItem(path="clients" icon="users")
        | Clients
      +navigationItem(path="admin" icon="gears")
        | Admin Panel