ul.dropdown-menu(role='menu', style='right: 100px')
    li
        a(href="{{pathFor 'profile'}}")
            span.icon
                i.fa.fa-user
            | My Account
    li.divider
    li
        a.logout(href='#')
            span.icon
                i.fa.fa-sign-out
            | Logout