header#header
   // logo start
   .brand
      a.logo(href="{{pathFor 'index'}}")
        | CRM System
   // logo end
   ul.nav.navbar-nav.navbar-left
      li.toggle-navigation.toggle-left
         button#toggle-left.sidebar-toggle
            i.fa.fa-bars
   | {{> userBar }}

