//
   Created by haunguyen on 5/25/15.
+contentFor "title"
  h1 Mandril Email Settings
+contentFor "breadcrubms"
  li
    a(href="{{pathFor 'emailSettings'}}") Email Settings
  li.active
    a(href="{{pathFor 'emailSettings.mandril'}}") Mandril
+emailSettingsTabs
  .container-fluid
    .row


