//
   Created by haunguyen on 5/25/15.
+contentFor "title"
  h1 Amazon SES Email Settings
+contentFor "breadcrubms"
  li
    a(href="{{pathFor 'emailSettings'}}") Email Settings
  li.active
    a(href="{{pathFor 'emailSettings.amazonSES'}}") Amazon SES
+emailSettingsTabs
  .container-fluid
    .row
      | Amazon SES
