.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.panel-title {{{label}}}

      .panel-body
        .form-group
          label.col-sm-3.control-label First Name
          .col-sm-6
              input.form-control.textbox(type="text", name="fname[]")

        .form-group
          label.col-sm-3.control-label Last Name
          .col-sm-6
            input.form-control.textbox(type="text", name="lname[]")

        .form-group
          label.col-sm-3.control-label Address
          .col-sm-6
            input.form-control.textbox(type="text")

        .form-group
          label.col-sm-3.control-label City
          .col-sm-6
            input.form-control.textbox(type="text")


        .form-group
          label.col-sm-3.control-label State / Province / Region
          .col-sm-6
            input.form-control.textbox(type="text")

        .form-group
          label.col-sm-3.control-label Zipcode
          .col-sm-6
            input.form-control.textbox(type="text")


        .form-group
          label.col-sm-3.control-label Country
          .col-sm-6
            select.form-control
              option United States

        .form-group
          label.col-sm-3.control-label Phone
          .col-sm-6
            input.form-control.textbox(type="phone")

        .form-group
          label.col-sm-3.control-label Email
          .col-sm-6
            input.form-control.textbox(type="email")
