.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .form-group
          label.col-sm-3.control-label {{{label}}}
          .col-sm-6
            select.form-control.input-lg
              each field_options.options
                option {{label}}


