.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-body
          .form-group
            div.photoArea
              label.col-sm-3.control-label {{{label}}}
              .col-sm-6
                button.btn.btn-info.btn-lg.btn-trans.capture(type='button')
                  i.fa.fa-camera
                img.photo(src="/assets/img/default-placeholder.png")
