.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-body
          .form-group
            label.col-sm-3.control-label {{{label}}}
            .col-sm-6
               input.form-control(type='number')


