.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-body
          .form-group
            label.col-sm-3.control-label {{{label}}}
            .col-sm-6
              each field_options.options
                .radio
                  input.icheck(type='radio',value="{{label}}", name="radio1")
                  label {{label}}
