+contentFor "title"
   h1 Audit
+contentFor "breadcrubms"
   li
      a(href="{{pathFor 'clients'}}") Clients
   li.active
      a(href="{{pathFor 'clientAudit'}}") Audit
+clientTabs
.container-fluid
   .row
      button.create-audit.btn.btn-primary.pull-left Run Audit
   .row
      +tabular table=TabularTables.clientAudit class="table table-striped table-bordered table-condensed table-responsive"
