+contentFor "title"
    h1 Manage Items
+contentFor "breadcrubms"
    li
        a(href="{{pathFor 'clients'}}") Clients
    li.active
        a(href="{{pathFor 'clientItems'}}") Manage Items
+clientTabs
.container-fluid
    .row
        button.create-item.btn.btn-primary.pull-left Create new
    .row
        +tabular table=TabularTables.clientItems selector=getItemsSelector class="table table-striped table-bordered table-condensed table-responsive"
