+contentFor "title"
    h1 Manage Items
+contentFor "breadcrubms"
    li
        a(href="{{pathFor 'clients'}}") Clients
    li.active
        a(href="{{pathFor 'clientAudit'}}") Manage Items
+clientTabs
    | Audit {{_id}}
