+contentFor "title"
    h1 Leads
+contentFor "breadcrubms"
    li
        a(href="{{pathFor 'leads'}}") Leads
    li.active
        a(href="{{pathFor 'leads.inactive'}}") Inactive
+leadsTabs
    .container-fluid
        .row
            button.create-email.btn.btn-primary.pull-left(data-toggle='modal', data-target='#myModal') Create new
        .row
            +tabular table=TabularTables.leads selector=selector class="table table-striped table-bordered table-condensed table-responsive"
