+autoForm(collection="Meteor.users" id="leadsEdit" doc=this)
    .col-sm-3
        +afQuickField name='profile.firstname'
        +afQuickField name='profile.lastname'
        +afQuickField name='profile.birthday' buttonClasses="glyphicon glyphicon-calendar"
        +afQuickField name='profile.phone'
        +afQuickField name='profile.address'

    .col-sm-3
        +afQuickField name='profile.address2'
        +afQuickField name='profile.salesRep'
        +afQuickField name='profile.affiliate'
        +afQuickField name='profile.parentAffiliate'

    .col-sm-3
        +afQuickField name='profile.SSN'
        +afQuickField name='profile.status'
        +afQuickField name='emails.0.address'
        +afQuickField name='profile.source'
    .col-sm-3
        +afQuickField name='profile.phone'
        +afQuickField name='profile.city'
        +afQuickField name='profile.state'
        +afQuickField name='profile.zip'
    .col-sm-12
        button.btn.btn-block.btn-primary(type="submit")
            | Save