.btn-group.btn-group-justified
   .btn-group
      button.btn.btn-success.btn-dashboard Dashboard
   .btn-group.hidden-xs
      button.btn.btn-success.btn-notes Notes
   .btn-group.hidden-xs
      button.btn.btn-success.btn-leadIntoClient Make Client