.row
   .col-md-12
      .tab-wrapper.tab-primary
         ul.nav.nav-tabs.responsive
            +topTab(path="leads.browse")
               | All Leads
            +topTab(path="leads.hot")
               | Hot  Leads
            +topTab(path="leads.warm")
               | Warm Leads
            +topTab(path="leads.cold")
               | Cold Leads
         .tab-content.main-tab-content
            +UI.contentBlock
