#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
   .modal-dialog
      .modal-content
         .panel.panel-default
            .panel-heading
               h3.panel-title Note
               .actions.pull-right
                  i.fa.fa-times(data-dismiss='modal')

            .panel-body
               +autoForm(collection="colClientNotes" id="leadNoteCreate" doc=this type=insert validation="none")
                  +afQuickField name='note' rows=15
                  +afQuickField name='flag'

                  button.btn.btn-block.btn-primary(type="submit")
                     | Save