+contentFor "title"
  h1 Dashboard
  | Welcome {{userName}}
+contentFor "breadcrubms"
  li.active
    a(href="{{pathFor 'index'}}") Dashboard

.row
    .col-md-12.col-lg-6
        section.panel.timeline-post
            #timeline.panel-body
                ul.tl
                    each getEvents
                        li.animated.fadeInDownBig
                            .date
                                span {{date.getDate}}
                                span.small {{formatDateTime date 'MMM'}}
                            h4
                                i.fa.fa-pencil
                                | {{action}}:
                                i
                                    | {{title}}
                            p
                                | Performed by
                                i.fa.fa-user
                                i
                                    |  {{userName}}
                                |   @ {{formatDateTime date 'LT'}}


    .col-md-12.col-lg-6
        .panel.panel-default
            .panel-heading
                h3.panel-title SERVER STATS
                .reportdate.actions
                    i.fa.fa-calendar-o
                    span Jan 1 - June 30
                    b.caret
            .panel-body.server-chart
                .row
                    .col-md-12.col-lg-12
                        ul
                            li
                                span.text-left Network Usage
                                .progress.progress-xs
                                    .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100', style='width: 65%')
                            li
                                span.text-left CPU Load
                                .progress.progress-xs
                                    .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                        p
                            | Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

