+contentFor "title"
  h1 Dashboard
  | Welcome {{myUserName}}
+contentFor "breadcrubms"
  li.active
    a(href="{{pathFor 'index'}}") Dashboard

.row
    .col-md-12.col-lg-12
        .panel.panel-default
            .panel-heading
                h3.panel-title SHARE
            .panel-body.server-chart
                .row
                    .col-md-12.col-lg-12
                        p Use your unique link to share CRM with your friends, the more you share the more chances you have at winning great prizes.
                        p Here is your Unique Link:
                            b {{share_url}}
                        if share_url
                            .social
                                ul
                                    li
                                        a(href="https://www.facebook.com/sharer/sharer.php?u={{share_urlencoded}}&t=Get%20your%20contact%20list%20in%20a%20minute" target="_blank" title="Share on Facebook")
                                            i.fa.fa-facebook.fa-2x
                                    li
                                        a(href="https://twitter.com/intent/tweet?source={{share_urlencoded}}&text=Get%20your%20contact%20list%20in%20a%20minute:%20{{share_url}}" target="_blank" title="Tweet")
                                            i.fa.fa-twitter.fa-2x
                                    li
                                        a(href="https://plus.google.com/share?url={{share_urlencoded}}" target="_blank" title="Share on Google+")
                                            i.fa.fa-google-plus.fa-2x
                                    li
                                        a(href="http://www.linkedin.com/shareArticle?mini=true&url={{share_urlencoded}}&title=Get%20your%20contact%20list%20in%20a%20minute&summary=&source={{share_urlencoded}}" target="_blank" title="Share on LinkedIn")
                                            i.fa.fa-linkedin.fa-2x
    .col-md-12.col-lg-6
        section.panel.timeline-post
            #timeline.panel-body
                ul.tl
                    each getEvents
                        li.animated.fadeInDownBig
                            .date
                                span {{date.getDate}}
                                span.small {{formatDateTime date 'MMM'}}
                            h4
                                i.fa.fa-pencil
                                | {{action}}:
                                i
                                    | {{title}}
                            p
                                | Client:
                                i.fa.fa-check-square
                                strong
                                    |   {{userName 'wTcmA9hRvDRz6kh7R'}}

                            p
                                | Performed by
                                i.fa.fa-user
                                i
                                    |  {{myUserName}}
                                |   @ {{formatDateTime date 'LT'}}

