+contentFor "title"
  |List Builder
+contentFor "breadcrubms"
  li
    a(href="{{pathFor 'list'}}") Digital Signe
  li.active
    a(href="{{pathFor 'formsList'}}") 

+digitalSignTopTabs
 .row
    .col-md-6
      h1 You Create your Template and Send it to be signed
      br
      .info Digitaly signin your document has never being so easy
      br
 .row
    .col-sm-6.col-md-3
       h4
        i.fa.fa-cloud
         |  Online PDF Editor  
       ul
        li Fill forms
          |         
        li Sign
          |         
        li Draw
          |         
        li Retina Ready &amp; Lossless
          |         
        li Export PDF to DOC
          |         
        li HTML 5   
    .col-sm-6.col-md-3
        h4
          i.fa.fa-pencil-square-o
          |  Sign Documents Online      
        ul
          li Sign your own documents
          |         
          li Send a sign request to someone else
          |         
          li Legally binding signatures
          |         
          li Upload signature image or draw one
    .col-sm-6.col-md-3
        h4
          i.fa.fa-shield
          |  Secure Workflow
        |       
        ul
          li Encrypted Redundant Storage
          |         
          li SSL Encrypted Connections
          |         
          li Google &amp; Dropbox Authentication  
    .col-sm-6.col-md-3
        h4
          i.fa.fa-share-alt
          |  Share &amp; Integrate
        ul
          li Works with any document file type
          |         
          li Searchable text
          |         
          li Blazing fast performace
          |         
          li Google Drive, Gmail &amp; Dropbox integrated
