#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
   .modal-dialog.bigModal
      .modal-content
         .panel.panel-default
            .panel-heading
               h3.panel-title Send Form

               .actions.pull-right
                  i.fa.fa-times(data-dismiss='modal')

            .panel-body

            