+contentFor "title"
   h1 Reporting Sources
+contentFor "breadcrubms"
   li
      a(href="{{pathFor 'admin'}}") Admin
   li.active
      a(href="{{pathFor 'admin.sources'}}") Reporting Sources

+adminTabs

   +autoForm(collection="colAdminSystem" id="itemSources" type="update" doc=systemData)
      button.btn.btn-block.btn-success(type="submit")
         | Save Changes
      +afQuickField name='sources'
      button.btn.btn-block.btn-success(type="submit")
         | Save Changes





