.row
  .col-md-12
    .tab-wrapper.tab-primary
      ul.nav.nav-tabs
        +topTab(path="admin.users")
          | Users
        +topTab(path="admin.itemDD")
          | Item Drop Downs
        +topTab(path="admin.snipets")
          | Audit Snipets
        +topTab(path="admin.repSources")
          | Reporting Sources
        +topTab(path="admin.groupEmails")
          | Group Emails

      .tab-content.main-tab-content
        +UI.contentBlock

