.row
  .col-md-12
    .tab-wrapper.tab-primary
      ul.nav.nav-tabs.responsive
        +topTab(path="admin.users")
          | User Management
        +topTab(path="admin.itemDD")
          | Item Drop Downs
        +topTab(path="admin.snipets")
          | Audit Snipets
        +topTab(path="admin.sources")
          | Reporting Sources
        +topTab(path="admin.emails")
          | Group Emails

      .tab-content.main-tab-content
        +UI.contentBlock

