li.dd-item(data_id='item_{{id}}')
   .dd-handle {{getName id}}
   a.lnk.edit-tree(data-toggle='modal', data-target='#myModal') Edit
   if haveChildren
      a.lnk.add-tree(data-toggle='modal', data-target='#myModal') Add
   else
      a.lnk.delete-tree Delete
   if haveChildren
      ol.dd-list
         each children
            +treeListItem
