+afQuickField name='profile.name'
+afQuickField name='emails'
+afQuickField name='profile.lastname'
+afQuickField name='profile.firstname'
+afQuickField name='profile.middlename'
+afQuickField name='profile.phone'
+afQuickField name='profile.phone2'
+afQuickField name='profile.address'
+afQuickField name='profile.address2'
+afQuickField name='profile.birthday'
+afQuickField name='profile.city'
+afQuickField name='profile.zip'
button.btn.btn-block.btn-primary(type="submit")
   | Save