
.col-sm-4
   +afQuickField name='profile.name'
   +afQuickField name='profile.lastname'
   +afQuickField name='profile.firstname'
   +afQuickField name='profile.middlename'
.col-sm-4
   +afQuickField name='profile.phone'
   +afQuickField name='profile.phone2'
   +afQuickField name='profile.address'
   +afQuickField name='profile.address2'
.col-sm-4
   +afQuickField name='profile.birthday'
   +afQuickField name='profile.city'
   +afQuickField name='profile.zip'
   +afQuickField name='emails.0.address'
.col-sm-12
   button.btn.btn-block.btn-primary(type="submit")
      | Save