.btn-group.btn-group-justified
   .btn-group
      button.btn.btn-success.btn-dashboard Dashboard
   .btn-group
      button.btn.btn-success.btn-items Manage Items
   .btn-group.hidden-xs
      button.btn.btn-success.btn-audit Audit
   .btn-group.hidden-xs
      button.btn.btn-success.btn-letters Letters
   .btn-group.hidden-xs
      button.btn.btn-success.btn-letters-creator Letters Creator
   .btn-group.hidden-xs
      button.btn.btn-success.btn-notes Notes
   .btn-group.hidden-xs
      button.btn.btn-success.btn-billing Billing History
   .btn-group.hidden-xs
      button.btn.btn-success.btn-activity Activity
   .btn-group.hidden-xs
      button.btn.btn-success.btn-send-message Send Message
   .btn-group.hidden-xs
      button.btn.btn-success.btn-forms-creator Forms Creator