.col-sm-6
    .col-sm-6
        h3 Last name:
    .col-sm-6
        | {{profile.lastname}}
.col-sm-6
    .col-sm-6
        h3 First name:
    .col-sm-6
        | {{profile.firstname}}
.col-sm-6
    .col-sm-6
        h3 Middle name:
    .col-sm-6
        | {{profile.middlename}}
.col-sm-6
    .col-sm-6
        h3 Birthday:
    .col-sm-6
        | {{formatDateTime profile.birthday "MM/DD/YYYY"}}
.col-sm-6
    .col-sm-6
        h3 Phone:
    .col-sm-6
        | {{profile.phone}}
.col-sm-6
    .col-sm-6
        h3 Phone2:
    .col-sm-6
        | {{profile.phone2}}
.col-sm-6
    .col-sm-6
        h3 Address:
    .col-sm-6
        | {{profile.address}}
.col-sm-6
    .col-sm-6
        h3 Address2:
    .col-sm-6
        | {{profile.address2}}
.col-sm-6
    .col-sm-6
        h3 City:
    .col-sm-6
        | {{profile.city}}
.col-sm-6
    .col-sm-6
        h3 State:
    .col-sm-6
        | {{profile.state}}
.col-sm-6
    .col-sm-6
        h3 ZIP:
    .col-sm-6
        | {{profile.zip}}