.panel.panel-primary
   .panel-body.user-extras
      .col-sm-6
         .col-sm-6
            h3 Last name:
         .col-sm-6
            | {{lastname}}
      .col-sm-6
         .col-sm-6
            h3 First name:
         .col-sm-6
            | {{firstname}}
      .col-sm-6
         .col-sm-6
            h3 Middle name:
         .col-sm-6
            | {{middlename}}
      .col-sm-6
         .col-sm-6
            h3 Birthday:
         .col-sm-6
            | {{birthday}}
      .col-sm-6
         .col-sm-6
            h3 Phone:
         .col-sm-6
            | {{phone}}
      .col-sm-6
         .col-sm-6
            h3 Phone2:
         .col-sm-6
            | {{phone2}}
      .col-sm-6
         .col-sm-6
            h3 Address:
         .col-sm-6
            | {{address}}
      .col-sm-6
         .col-sm-6
            h3 Address2:
         .col-sm-6
            | {{address2}}
      .col-sm-6
         .col-sm-6
            h3 City:
         .col-sm-6
            | {{city}}
      .col-sm-6
         .col-sm-6
            h3 State:
         .col-sm-6
            | {{state}}
      .col-sm-6
         .col-sm-6
            h3 ZIP:
         .col-sm-6
            | {{zip}}


