.row
  .col-md-12
    .tab-wrapper.tab-primary
      ul.nav.nav-tabs.responsive
        with ..
          +topTab(path="clientDashboard" _id=_id)
            | Dashboard
          +topTab(path="clientItems" _id=_id)
             | Manage Items
          +topTab(path="clientAudit" _id=_id)
             | Audit
          +topTab(path="clientLetters" _id=_id)
             | Letters
          +topTab(path="clientNotes" _id=_id)
             | Notes
          +topTab(path="clientBilling" _id=_id)
             | Billing History
          +topTab(path="clientActivity" _id=_id)
             | Activity




