form.form-horizontal
   .row(style='padding: 40px 10px 40px 10px')
      each creditBureaus
         .col-sm-4.animated.fadeInRightBig
            .col-sm-2
               input.form-control(type='checkbox' value='{{key}}' name='bureaus[]' id='chk-{{key}}')
            .col-sm-10
               img(src='{{image}}')
      .col-sm-offset-4.col-sm-8(style='padding-top: 45px')
         input.form-control(type='checkbox' id="quickMode")
         | Quick Mode (same data for all bureaus)