each creditBureaus
   .col-sm-4
      .col-sm-12
         img(src='{{image}}')
      with getStatusInfo .. key
         if notReported
            .col-sm-12.label.label-primary Not Reported
          else
             .btn-group
                +statusButton
                ul.dropdown-menu(role='menu')
                  each itemStatuses
                     li
                        a.change-status(href='#' data="{{../../key}}") {{title}}