fieldset#default-step-0.step(title="Recipient", style="display: block;")
   legend Where are your letters going?
   .form-group
      label.col-md-2.col-sm-2.control-label(style="font-weight:bold;") Reciepient
      .col-md-6.col-sm-6
         .flat-green.single-row
            .radio
               .iradio_flat-green.checked(style="position: relative;")
                  input#letter_recipient2(type="radio", name="letter_recipient", checked="", style="position: absolute; opacity: 0;")
                  ins.iCheck-helper(style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);")
               label Credit Bureau
         .flat-green.single-row
            .radio
               .iradio_flat-green(style="position: relative;")
                  input#letter_recipient3(type="radio", name="letter_recipient", style="position: absolute; opacity: 0;")
                  ins.iCheck-helper(style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);")
               label Furnisher
         .flat-green.single-row
            .radio
               .iradio_flat-green(style="position: relative;")
                  input#letter_recipient1(type="radio", name="letter_recipient", style="position: absolute; opacity: 0;")
                  ins.iCheck-helper(style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);")
               label Credit Bureau and Furnisher

