fieldset#default-step-0.step(title="Templates", style="display: block;")
   legend Where should your letters say?
   .col-sm-12
      .panel.panel-default
         .panel-heading
            div(style="float:right; margin-top:-4px; margin-right:50px;")




               Label(for="all_furnishers") Category
               Select#Template_Category
                  option Bureau
                  option Collection Agency

               Label(for="all_equifax") Letter Template
               Select#Letter_Template
               Label(for="all_experian") All Experian

            h3.panel-title Original Creditors
               .actions.pull-right
                  i.fa.fa-chevron-up.clientData
         .panel-body(style="padding:0;padding-top:15px;padding-bottom:15px")